# 基本依赖
numpy==2.2.5
pandas==2.2.3
matplotlib==3.10.0
scikit-learn==1.6.1

# Web 開発
Flask==3.1.1
Jinja2==3.1.6

# Jupyter用
jupyter==1.1.1
ipykernel==6.29.5

# 深層学習
tensorflow==2.19.0  
keras==3.10.0

# 日本語テキスト処理
sudachipy==0.6.10
sudachidict-full==20250515
pykakasi==0.96
pyopenjtalk==0.4.1
